html, body{
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.main{
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    margin: 0 auto 20px auto;
    color: #fff;
    height: 75%;
    width: 83%;
    text-align: center;
/*    max-height: 600px;*/
    border: 25px solid #04fcdc;
}
.header-container{
    font-family: 'PT Sans', sans-serif;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
#logo{
    width: 25%;
}
.title{
    margin-bottom: 2%;
    text-align: center;
    margin: 0 auto;
}
.header-container h2{
    margin-top: 0;
    margin-bottom: 2%;
}
h3{
    color: #04fcdc;
}
.column, .player{
    float: left;
    width: 30%;
    padding: 2% 1.2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.player a:hover{
/*    color: #fcfc04;*/
    font-size: 20px;
}
.column{
    color: #fcfc04;
}
#first{
    color: #dcdcdc;
}
#second{
    color: #fc0404;
}
#third{
    color: #fcb444;
}
#fourth{
    color: #fcb494;
}
#fifth{
    color: #f4cc34;
}
#sixth{
    color: #fcfc04;
}
#seventh{
    color: #14b42c;
}
#eighth{
    color: #04fcdc;
}
#ninth{
    color: #149cb4;
}
#tenth{
    color: #0cd424;
}
#eleven{
    color: #dcdcdc;
}
#twelve{
    color: #fc0404;
}
#thirteen{
    color: #fcb444;
}
#fourteen{
    color: #fcb494;
}
#fifteen{
    color: #f4cc34;
}
#sixteen{
    color: #fcfc04;
}
#seventeen{
    color: #14b42c;
}
#eighteen{
    color: #04fcdc;
}
#nineteen{
    color: #149cb4;
}
#twenty{
    color: #0cd424;
}
.cities{
    text-decoration: underline;
    padding: 2px;
}
.social{
    padding-top: 2%;
    width: 10%;
}
#search-form{
    margin: 20px auto;
    width: 600px;
}
#search-form input{
    width: 480px;
    height: 36px;
}
.btn{
    background-color: #04fcdc;
    padding: 12px;
    margin-left: -4px;
}
.side{
    position: absolute;
    right: 35px;
    width: 16%;
    text-align: center;
}
.side img, .side-mob img{
    width: 100%;
}
.side-mob{
    display: none;
    width: 24%;
    margin: 0 auto;
    text-align: center;

}
@media (max-width : 872px) {
    .side{
        display: none;
    }
    .side-mob{
        display: block;
    }
    #search-form input{
        width: 85%;
    }
}
@media (max-width : 642px) {
    #search-form{
        width:80%;
        margin: 5px auto;
    }
    #search-form input{
        width: 75%;
    }
}
@media (max-width : 480px) {
    #search-form{
        width:260px;
    }
    #search-form input{
        width: 160px;
    }
    .main{
        font-size: .5em;
    }
}
/*colors*/
/*dcdcdc
fc0404
fcb444
fcb494
f4cc34
fcfc04
14b42c
04fcdc
149cb4
0cd424*/

